<section class="hero is-primary">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">
        Contact Us
      </p>
    </div>
  </div>
</section>

<section>
  <div class="hero-body">
    <div class="container">
      <form (ngSubmit)="submitContactForm()" #contactForm="ngForm">
        <div class="field">
          <label class="label">Name</label>
          <div class="control">
            <input
              type="text"
              name="name"
              class="input"
              [(ngModel)]="name"
              #nameInput="ngModel"
              placeholder="Enter full name"
              required
            />
          </div>
          <div
            class="help is-error"
            *ngIf="nameInput.invalid && nameInput.touched"
          >
            Name is required
          </div>
        </div>

        <div class="field">
          <label class="label">Email</label>
          <div class="control">
            <input
              type="email"
              name="email"
              class="input"
              [(ngModel)]="email"
              #emailInput="ngModel"
              placeholder="Enter email address"
              required
              email
            />
          </div>
          <div
            class="help is-error"
            *ngIf="emailInput.invalid && emailInput.touched"
          >
            Email is required and valid
          </div>
        </div>

        <div class="field">
          <label class="label">Message</label>
          <div class="control">
            <textarea
              class="textarea"
              name="message"
              [(ngModel)]="message"
              placeholder="Enter message"
            ></textarea>
          </div>
        </div>

        <div class="field is-grouped">
          <div class="control">
            <button [disabled]="contactForm.invalid" class="button is-link">
              Submit
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
