<section class="hero is-primary">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">
        Our Team
      </p>
    </div>
  </div>
</section>
<br />
<section>
  <div class="tile is-ancestor" *ngFor="let team of teamMembers">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <img src="{{team.avatar_url}}" height="100" width="100" />
        <p class="title">{{team.login}}</p>
        {{team.following_url}}<br />
        <a routerLink="details/{{team.login}}">More</a>
      </article>
    </div>
  </div>
</section>
