<section class="hero is-primary">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">
        Our Team
      </p>
    </div>
  </div>
</section>
<br>
<section>
  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">One</p>
        <p class="subtitle">Subtitle</p>

        <a href="#">More</a>
      </article>

    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">Two</p>
        <p class="subtitle">Subtitle</p>
        <a href="#">More</a>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">Three</p>
        <p class="subtitle">Subtitle</p>

        <a href="#">More</a>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">Four</p>
        <p class="subtitle">Subtitle</p>

        <a href="#">More</a>
      </article>
    </div>
  </div>
</section>
<section>
  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">One</p>
        <p class="subtitle">Subtitle</p>

        <a href="#">More</a>
      </article>

    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">Two</p>
        <p class="subtitle">Subtitle</p>
        <a href="#">More</a>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">Three</p>
        <p class="subtitle">Subtitle</p>

        <a href="#">More</a>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">Four</p>
        <p class="subtitle">Subtitle</p>

        <a href="#">More</a>
      </article>
    </div>
  </div>
</section>